@import "../../../../../../styles/index.scss";

.executortime {
  display: flex;
  flex-direction: row;
  height: 18px;
  label {
    font-family:$font-family-inter;
    font-weight: $font-weight-regular;
    font-size: $font-size-3;
    line-height: $line-height-2;
    color: $text-secondary;
    text-align: right;
  }
  &__time {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    p {
      font-family: $font-family-inter;
      font-weight: $font-weight-regular;
      font-size: $font-size-3;
      line-height: $line-height-01;
      color: $text-service;
    }
  }

  &__excutor {
    display: flex;
    flex-direction: row;
  }
}
