@import "../../../../../styles/index.scss";

$display: flex;

.task-wrapper {
  width: 100%;
  height: 130px;
  padding: 12px;
  border-radius: 8px;
  background-color: $bg-menu;
  box-shadow: $shadow-card;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 3px 10px 0 rgba(38, 58, 91, 0.2);
  }

  .task {
    gap: 20px;

    #cont-1 {
      &:hover {
        .task__path {
          display: flex;
        }
      }
    }

    #cont-2 {
      &:hover {
        .task__progress {
          display: none;
        }
        app-management {
          display: flex;
        }
      }
    }

    &__progress {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 12px;
      height: 33px;
    }

    &__path {
      display: none;
    }

    app-management {
      display: none;
    }
  }
}
